<button 
type="button" 
class="boton"
(click)="ejecutar()"
[disabled]="loading">

<i class="fa" [ngClass]=" { 'fa-save':!loading, 'fa-spin fa-refresh': loading } "></i>
  <span *ngIf="!loading">Save Changes</span>
  <span *ngIf="loading">Please wait...</span>
</button>